# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# ignore media files
*.wav
*.raw
*.bmp
*.jpg
*.ico

# ignore databases
*.db
query.sql

# ignore specific files in folders
week04/pset4/filter-more/images/
week05/pset5/speller/texts/
week05/pset5/speller/keys/
week05/pset5/speller/dictionaries/
.vscode/
week09/pset9/finance/flask_session/

# Exclude all files without extensions EXCEPT:
!Makefile
