{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block currentuser %}
    <li class="nav-item"><a class="nav-link fw-bold" href="/settings">{{ userdata[0]["username"] }}</a></li>
{% endblock %}

{% block main %}
    <div class="mb-3">
        <p>Once submitting, your password will be different, make sure you remember it!</p>
    </div>
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input type="password" autofocus class="form-control mx-auto w-auto form-dark-mode" id="oldpassword" name="oldpassword" placeholder="You old password" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control mx-auto w-auto form-dark-mode" id="newpassword" name="newpassword" placeholder="Your new password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control mx-auto w-auto form-dark-mode" id="confirmation" name="confirmation" placeholder="Your new password (again)">
        </div>
        <button class="btn btn-primary" type="submit">Change my password!</button>
    </form>
{% endblock %}