{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block currentuser %}
    <li class="nav-item"><a class="nav-link fw-bold" href="/settings">{{ userdata[0]["username"] }}</a></li>
{% endblock %}

{% block main %}
    <div class="mb-3">
        <table class="table table-dark table-stripped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    <td class="text-start">{{ row["symbol"] }}</td>
                    <td class="text-end">{{ row["shares"] }}</td>
                    <td class="text-end">{{ row["price"] | usd }}</td>
                    <td class="text-end">{{ row["transaction_time"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
